*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ede7f6;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.box{
    width: 43%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    border-radius: 8px;
    margin: auto;
}

.box:nth-child(1) {
    border-top: 10px solid #715ff8;
    height: 140px;
    margin-top: 15px;
}

.box:nth-child(2) {
    margin-top: 8px;
}



.wrapper {
    margin: 0 20px;
}

#title{
    font-weight: 400;
    color: #000;
    margin-top: 15px;
}


#description{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 4px;
}

p, h2, label{
    color: #535353;
}

.question{
    font-size: 20px;
}



.form-group:nth-child(1){
    margin: 10px 20px;
    padding-top: 25px;
}

.form-group{
    margin: 20px 20px;
}

.form-control{
    width: 97%;
    display: block;
    height: 20px;
    padding: 10px 0px 10px 10px;
    margin-top: 8px;
    border-radius: 5px;
    border: 2px solid grey;
}

.form-control:focus{
    outline: none !important;
    border: 2px solid #715ff8;
}

#number{
    width: 40%;
}

select{
    display: block;
    height: 20px;
    padding: 18px 0px 18px 18px;
    margin-top: 8px;
    border-radius: 5px;
    width: 40%;
}

#rating{
    display: block;
    margin-top: 8px;
}

#rating input{
    margin:0 4px;

}

.check-option{
    display: block;
    padding: 8px 0;
}

#submit{
    padding: 12px;
    font-size: 17px;
    width: 120px;
    background-color: #715ff8;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    transition: 0.3s;
}

#submit:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type="checkbox"]{
    transform: scale(1.5);
    margin-right: 5px;
}

option{
    padding: 10px;
}

.dropdown{
    padding: 20px;
}

#dropdown{
    color: black;
}

#textarea{
    border-radius: 5px;
    border: 1px solid grey;
    margin-top: 8px;
    max-width: 90%;

}

input[type="radio"]{
    transform: scale(1.5);
}

.helper{
    color:rgb(114, 114, 114);
    font-size: 12px;
}



@media (max-width: 1000px) {
    .box{
        width: 75%;
    }

    .box:nth-child(1){
        height: 140px;
    }
}

@media (max-width: 550px) {
    .box{
        width: 95%;
    }

    .box:nth-child(1){
        height: 170px;
    }
}